<br>
<form style="text-align: center;"  method="POST" action="/reset">
	<h2>Are you sure you want to reset the database?</h2>
	<div>
		<button type="submit" style="margin: 0 30px;"
		 class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">Yes</button>
		<button type="button"
		 style="margin: 0 30px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
		 onclick="window.location.href = '/'">No</button>
	</div>
</form>
<script type="text/javascript">
	
</script>